In [3]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import r2_score
import numpy as np

In [6]:
df_population = pd.read_csv("population.csv")

In [7]:
df_population.shape

(88977, 8)

In [8]:
df_population.head() # forma de la tabla

,Statistic Label,CensusYear,General Health,Sex,Age Group,Towns,UNIT,VALUE
0,Population,2022,General health - All,Both sexes,All ages,"Tullow, Co Carlow",Number,5138
1,Population,2022,General health - All,Both sexes,All ages,"Carlow, Counties Carlow & Laois",Number,27351
2,Population,2022,General health - All,Both sexes,All ages,"Muinebeag (Bagenalstown), Co Carlow",Number,2945
3,Population,2022,General health - All,Both sexes,All ages,"Dublin city and suburbs, Counties Dublin & Meath",Number,1263219
4,Population,2022,General health - All,Both sexes,All ages,"Saggart, Co Dublin",Number,4573

In [10]:
df_population[['Towns', 'County']] = df_population['Towns'].str.split(', ', expand=True) #Agregue la columna County

In [13]:
df_population.tail()

,Statistic Label,CensusYear,General Health,Sex,Age Group,Towns,UNIT,VALUE,County
88972,Population,2022,Not stated,Female,85 years and over,State,Number,4449,None
88973,Population,2022,Not stated,Female,85 years and over,"Other towns with a population between 1,000 - ...",Number,911,None
88974,Population,2022,Not stated,Female,85 years and over,Other towns with a population under 500,Number,152,None
88975,Population,2022,Not stated,Female,85 years and over,Other towns with a population between 500 - 999,Number,72,None
88976,Population,2022,Not stated,Female,85 years and over,Remainder of country,Number,66,None

In [26]:
df_population_total = df_population[(df_population['General Health'] != 'not started') & 
                                    (df_population['General Health'] == 'General health - All') & 
                                    (df_population['Sex'] == 'Both sexes') & 
                                    (df_population['Age Group'] == 'All ages')]
#filtrado de tabla para obtener los totales por County

In [27]:
df_population_total.shape

(223, 9)

In [28]:
df_population_total.tail()

,Statistic Label,CensusYear,General Health,Sex,Age Group,Towns,UNIT,VALUE,County
218,Population,2022,General health - All,Both sexes,All ages,State,Number,5149139,None
219,Population,2022,General health - All,Both sexes,All ages,"Other towns with a population between 1,000 - ...",Number,1518638,None
220,Population,2022,General health - All,Both sexes,All ages,Other towns with a population under 500,Number,132170,None
221,Population,2022,General health - All,Both sexes,All ages,Other towns with a population between 500 - 999,Number,110857,None
222,Population,2022,General health - All,Both sexes,All ages,Remainder of country,Number,107434,None

In [23]:
Counties = df_population_total['County'].value_counts()
print(Counties)

Co Cork                           27
Co Kildare                        17
Co Meath                          14
Co Dublin                         13
Co Galway                         12
Co Tipperary                      11
Co Wicklow                        10
Co Donegal                         9
Co Cavan                           8
Co Kerry                           8
Co Louth                           7
Co Wexford                         7
Co Mayo                            6
Co Sligo                           6
Co Clare                           6
Co Limerick                        6
Co Offaly                          5
Co Westmeath                       5
Co Roscommon                       4
Co Waterford                       4
Co Monaghan                        4
Co Laois                           4
Co Longford                        3
Co Kilkenny                        3
Co Carlow                          2
Counties Dublin & Meath            1
Counties Kildare & Meath           1
Counties Kilkenny & Carlow         1
Counties Laois & Offaly            1
Co Leitrim                         1
Counties Leitrim & Roscommon       1
Counties Carlow & Laois            1
Counties Wicklow & Dublin          1
Counties Tipperary & Waterford     1
Counties Roscommon & Longford      1
Counties Louth & Meath             1
Counties Limerick & Clare          1
Counties Westmeath & Roscommon     1
Counties Wexford & Carlow          1
Wexford & Kilkenny                 1
Counties Wicklow & Kildare         1
Counties Waterford & Kilkenny      1
Name: County, dtype: int64

In [30]:
population_by_County = df_population_total.groupby('County')['VALUE'].sum()
print(population_by_County) # total por County, Todos los sexos, todas las edades, todas las cat de salud

#Se excluyen los no iniciados y Towns con menos de 1500 habitantes

County
Co Carlow                            8083
Co Cavan                            28915
Co Clare                            47213
Co Cork                            369317
Co Donegal                          48603
Co Dublin                          159248
Co Galway                          131551
Co Kerry                            55839
Co Kildare                         164720
Co Kilkenny                         32167
Co Laois                            32366
Co Leitrim                           1667
Co Limerick                         18631
Co Longford                         14865
Co Louth                            58216
Co Mayo                             40260
Co Meath                           123688
Co Monaghan                         19450
Co Offaly                           33522
Co Roscommon                        14205
Co Sligo                            30152
Co Tipperary                        52130
Co Waterford                        24970
Co Westmeath                        31893
Co Wexford                          55608
Co Wicklow                          68722
Counties Carlow & Laois             27351
Counties Dublin & Meath           1263219
Counties Kildare & Meath             8674
Counties Kilkenny & Carlow           1506
Counties Laois & Offaly              9288
Counties Leitrim & Roscommon         4743
Counties Limerick & Clare          102287
Counties Louth & Meath              44135
Counties Roscommon & Longford        1733
Counties Tipperary & Waterford      18369
Counties Waterford & Kilkenny       60079
Counties Westmeath & Roscommon      22869
Counties Wexford & Carlow            2053
Counties Wicklow & Dublin           33512
Counties Wicklow & Kildare           5611
Wexford & Kilkenny                   8610
Name: VALUE, dtype: int64

In [55]:
dist_population = df_population[(df_population['Sex'] != 'Both sexes') & 
                 (df_population['Age Group'] != 'All ages')]

In [56]:
dist_population.head(50)

,Statistic Label,CensusYear,General Health,Sex,Age Group,Towns,UNIT,VALUE,County
4460,Population,2022,General health - All,Male,0 - 4 years,Tullow,Number,167,Co Carlow
4461,Population,2022,General health - All,Male,0 - 4 years,Carlow,Number,812,Counties Carlow & Laois
4462,Population,2022,General health - All,Male,0 - 4 years,Muinebeag (Bagenalstown),Number,86,Co Carlow
4463,Population,2022,General health - All,Male,0 - 4 years,Dublin city and suburbs,Number,34988,Counties Dublin & Meath
4464,Population,2022,General health - All,Male,0 - 4 years,Saggart,Number,361,Co Dublin
4465,Population,2022,General health - All,Male,0 - 4 years,Rathcoole,Number,287,Co Dublin
4466,Population,2022,General health - All,Male,0 - 4 years,Newcastle,Number,186,Co Dublin
4467,Population,2022,General health - All,Male,0 - 4 years,Rush,Number,346,Co Dublin
4468,Population,2022,General health - All,Male,0 - 4 years,Skerries,Number,319,Co Dublin
4469,Population,2022,General health - All,Male,0 - 4 years,Portmarnock,Number,360,Co Dublin
4470,Population,2022,General health - All,Male,0 - 4 years,Donabate,Number,401,Co Dublin
4471,Population,2022,General health - All,Male,0 - 4 years,Malahide,Number,516,Co Dublin
4472,Population,2022,General health - All,Male,0 - 4 years,Lusk,Number,286,Co Dublin
4473,Population,2022,General health - All,Male,0 - 4 years,Balrothery,Number,66,Co Dublin
4474,Population,2022,General health - All,Male,0 - 4 years,Balbriggan,Number,834,Co Dublin
4475,Population,2022,General health - All,Male,0 - 4 years,Kinsealy-Drinan,Number,314,Co Dublin
4476,Population,2022,General health - All,Male,0 - 4 years,Swords,Number,1326,Co Dublin
4477,Population,2022,General health - All,Male,0 - 4 years,Leixlip,Number,519,Co Kildare
4478,Population,2022,General health - All,Male,0 - 4 years,Celbridge,Number,684,Co Kildare
4479,Population,2022,General health - All,Male,0 - 4 years,Kill,Number,127,Co Kildare
4480,Population,2022,General health - All,Male,0 - 4 years,Maynooth,Number,601,Co Kildare
4481,Population,2022,General health - All,Male,0 - 4 years,Naas,Number,971,Co Kildare
4482,Population,2022,General health - All,Male,0 - 4 years,Sallins,Number,229,Co Kildare
4483,Population,2022,General health - All,Male,0 - 4 years,Kilcock,Number,388,Counties Kildare & Meath
4484,Population,2022,General health - All,Male,0 - 4 years,Clane,Number,287,Co Kildare
4485,Population,2022,General health - All,Male,0 - 4 years,Kilcullen,Number,122,Co Kildare
4486,Population,2022,General health - All,Male,0 - 4 years,Prosperous,Number,67,Co Kildare
4487,Population,2022,General health - All,Male,0 - 4 years,Newbridge,Number,699,Co Kildare
4488,Population,2022,General health - All,Male,0 - 4 years,Castledermot,Number,53,Co Kildare
4489,Population,2022,General health - All,Male,0 - 4 years,Allenwood,Number,76,Co Kildare
4490,Population,2022,General health - All,Male,0 - 4 years,Kildare,Number,316,Co Kildare
4491,Population,2022,General health - All,Male,0 - 4 years,Derrinturn,Number,71,Co Kildare
4492,Population,2022,General health - All,Male,0 - 4 years,Athy,Number,362,Co Kildare
4493,Population,2022,General health - All,Male,0 - 4 years,Rathangan,Number,121,Co Kildare
4494,Population,2022,General health - All,Male,0 - 4 years,Monasterevin,Number,204,Co Kildare
4495,Population,2022,General health - All,Male,0 - 4 years,Graiguenamanagh-Tinnahinch,Number,36,Counties Kilkenny & Carlow
4496,Population,2022,General health - All,Male,0 - 4 years,Thomastown,Number,76,Co Kilkenny
4497,Population,2022,General health - All,Male,0 - 4 years,Kilkenny,Number,763,Co Kilkenny
4498,Population,2022,General health - All,Male,0 - 4 years,Callan,Number,95,Co Kilkenny
4499,Population,2022,General health - All,Male,0 - 4 years,Portarlington,Number,322,Counties Laois & Offaly
4500,Population,2022,General health - All,Male,0 - 4 years,Portlaoise,Number,770,Co Laois
4501,Population,2022,General health - All,Male,0 - 4 years,Mountmellick,Number,146,Co Laois
4502,Population,2022,General health - All,Male,0 - 4 years,Abbeyleix,Number,53,Co Laois
4503,Population,2022,General health - All,Male,0 - 4 years,Mountrath,Number,85,Co Laois
4504,Population,2022,General health - All,Male,0 - 4 years,Edgeworthstown,Number,58,Co Longford
4505,Population,2022,General health - All,Male,0 - 4 years,Ballymahon,Number,42,Co Longford
4506,Population,2022,General health - All,Male,0 - 4 years,Longford,Number,330,Co Longford
4507,Population,2022,General health - All,Male,0 - 4 years,Lanesborough-Ballyleague,Number,65,Counties Roscommon & Longford
4508,Population,2022,General health - All,Male,0 - 4 years,Carlingford,Number,48,Co Louth
4509,Population,2022,General health - All,Male,0 - 4 years,Clogherhead,Number,67,Co Louth

In [67]:
dist_population = df_population[df_population['Sex'].isin(['male', 'female'])]

In [71]:
dist_population = dist_population.groupby(['Sex', 'Age Group', 'County']).agg({'VALUE': 'sum'})

In [72]:
dist_population.shape

(2394, 1)

In [73]:
dist_population.head()

                                   VALUE
Sex        Age Group   County
Both sexes 0 - 4 years Co Carlow    1002
                       Co Cavan     3996
                       Co Clare     5788
                       Co Cork     40592
                       Co Donegal   6540